@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

  .centertext
  {
    position: absolute;
    left: 0;
    top: 40%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Josefin Sans', sans-serif;
  }   

  body
  {
    background-color: black !important;
    background-repeat: repeat;
  }
  .content{
    color: white;
    position: absolute;
    top: 100%;
    text-align: center;
  }

  #particles-js
  {
    width: 100%;
    height: 100%;
    position: fixed;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
  float: left;
  margin: 1rem;
  position: relative;
}

.demo-card-square.mdl-card:hover {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}

.demo-card-square > .mdl-card__title {
  color: #fff;
  background: #03a9f4;
}

.demo-card-square > .mdl-card__accent {
  background: #ff9800;
}
